$blue: #4160A7;

.footer-wrapper {
  padding: 0px;
  position: fixed;
  display: flex;
  bottom: 0;
  background-color: $blue;
  height: 10%;
  width: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}