$blue: #3A7191;

.detail-page-wrapper {
  .image-wrapper {
    text-align: center;

    .image {
      height: 200px;
    }
  }

  .btn-catch-wrapper {
    .btn-catch {
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
    }
  }

}
.all-moves {
  .detail-wrapper {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    .name {
      text-transform: capitalize;
      color: $blue;
    }

    .name-skills {
      color: white;
    }
  }
}